# Postgres connection (over compose network)
PGHOST=postgres
PGPORT=5432
PGUSER=postgres
PGPASSWORD=very_secret_password_here

# GCS upload
GCS_BACKUP_BUCKET=gcs-bucket-name
GCS_BACKUP_PREFIX=backups/postgres
GCS_SERVICE_ACCOUNT_EMAIL=sa@project.iam.gserviceaccount.com
GCS_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Schedule (cron expression, UTC)
BACKUP_SCHEDULE=0 2,14 * * *

# Local retention (days)
LOCAL_RETENTION_DAYS=3
